@import 'carbon-components/scss/globals/scss/styles.scss';

.App {
  padding-left: 20px;
}

.bx--accordion__content {
  padding-right: 5%;
}

.markDownElem {
  h1 {
    font-size: large !important;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
  }
}